doctype html
html
    head
        
        link(rel='stylesheet', href='/stylesheets/reset.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', crossorigin='anonymous')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.10/css/all.css', integrity='sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg', crossorigin='anonymous')
        
        title= title 
    body

        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            .container
                a.navbar-brand(href='#') Navbar
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                if !currentUser
                else
                    form.form-inline.ml-4(method='GET', action='/users/feed')
                        .input-group
                            input.form-control(type='text', placeholder='Search for a user', name='search', aria-label='Search')
                            .input-group-append
                                button.btn.btn-primary(type='submit', value='search') 
                                    i.fas.fa-search
                #navbarNav.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        if !currentUser
                            li.nav-item
                                a.nav-link(href='/') Home 
                            li.nav-item
                                a.nav-link(href='/register') Sign Up
                            li.nav-item
                                a.nav-link(href='/login') Log in
                            #navbarNavDropdown.collapse.navbar-collapse
                                li.nav-item.dropdown
                                    a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Help
                                    .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                                        a.dropdown-item(href='/FAQ') FAQ
                                        a.dropdown-item(href='critiquerules') Critique Rules
                                        a.dropdown-item(href='/termsofuse') Terms of Use
                        else
                            li.nav-item.active
                                a.nav-link(href='/users/feed') Home
                            li.nav-item
                                 a.nav-link(href='/users/' + currentUser._id + '/work/new') Submit your work
                            li.nav-item
                                a.nav-link(href='/users/' + currentUser._id) #{currentUser.username}
                            li.nav-item
                                a.nav-link(href='/logout') Logout
                            #navbarNavDropdown.collapse.navbar-collapse
                                li.nav-item.dropdown
                                    a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Help
                                    .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                                        a.dropdown-item(href='/FAQ') FAQ
                                        a.dropdown-item(href='/critiquerules') Critique Rules
                                        a.dropdown-item(href='/termsofuse') Terms of Use
        
        .container.pb-4
            .jumbotron.jumbotron-fluid
                .container
                    .row
                        .col-sm-3 
                            .card
                                .card-body  
                                    img.img-thumbnail(src='/uploads/' +`${work.author.username}`+'.png' onerror="this.src='/uploads/noimage.png';")
                        .col-sm-5
                            .card
                                .card-header
                                    h4.card-title #{work.title}
                                    h6.card-subtitle.text-muted.mb-1 by: 
                                        a(href='/users/' + work.author.id) #{work.author.username}
                                .card-body
                                    p.card-text.mb-1(rate = work.ratingSum)
                                        i.far.fas.fa-star.fa-2x#1Star(name='oneStar', value='1', title='I hate it', style='color: #e5c100')
                                        i.far.fa-star.fa-2x#2Star(name='twoStar', value='2', title='I did not like it', style='color: #e5c100')
                                        i.far.fa-star.fa-2x#3Star(name='threeStar', value='3', title='It is okay', style='color: #e5c100')
                                        i.far.fa-star.fa-2x#4Star(name='fourStar', value='4', title='It was good', style='color: #e5c100')
                                        i.far.fa-star.fa-2x#5Star(name='fiveStar', value='5', title='I loved it', style='color: #e5c100')
                                    p.card-text.mb-1#aveRate #{work.ratingSum}
                        .col-sm-4
                            p.card-text.mb-1 
                                strong Genre: 
                                span #{work.genre}
                            p.card-text.mb-1 
                                strong Type: 
                                span #{work.workType}
                            p.card-text.mb-1 
                                strong Word count (approx): 
                                span #{work.length} 
                                
                            if currentUser && work.author.id.equals(currentUser._id)
                                form()
                                    .form-row.mt-2
                                        button.btn.btn-primary.btn-block(type='submit')
                                            i.fas.fa-edit.mr-2
                                            | Edit work
                                form(action="/work/" + work._id + '?_method=DELETE', method='POST')
                                    .form-row.mt-2
                                        button.btn.btn-danger.btn-block(type='submit')
                                            i.fas.fa-trash-alt.mr-2
                                            | Delete work

                            else 
                                a.btn.btn-primary.btn-block.mt-2(href='/reviews/' + work._id) Submit a critique
            .card.mt-2
                .card-body#manuscript !{work.manuscriptText}
            .card.mt-2
                .card-body
                    ul.list-group
                        each critique in critiques
                            li.list-group-item
                                .row
                                    .col-sm-6  
                                        strong 
                                            = critique.reviewerName
                                        span  reviewed 
                                        strong
                                            = work.title
                                    .col-sm-6
                                        small.text-muted.ml-auto
                                            =critique.date
                                .row
                                    .col-sm-12
                                        p.card-text
                                            = critique.critiqueText
script(src='http://code.jquery.com/jquery-3.3.1.js', integrity='sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=', crossorigin='anonymous')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(src='/javascripts/aveRatingWork.js', type='text/javascript')
            